<div class="container p-5">
<div class="row">
    <div class="col" *ngFor="let item of artform">
        <div class="card" style="width:18rem;">
            <img src="{{item.img}}" class="card-img-top" alt="..." height="190px">
            <div class="card-body">
                <h5 class="card-titile">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a (click)="gotoHere(item.id)" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>

 